<!-- Новый чат -->
@if (!hasMessages) {
  <div class="chat-new flex flex-col justify-center m-auto text-center">
    <div class="text-3xl mb-10">Новый чат</div>

    <chat-input [thinking]="thinking()" (onSend)="sendRequest($event)"></chat-input>
  </div>
}

@if (hasMessages) {
  <!-- Активный чат -->
  <div class="chat-list">
    <tui-scrollbar>
      <div class="flex flex-col items-center">
        <div class="chat-messages flex flex-col flex-1 pt-6">
          @for (msg of chatService.activeChat()?.messages; let last = $last; track msg.id) {
            <div
              class="chat-message"
              [attr.data-id]="msg.id"
              [class.chat-message--user]="msg.role === ChatMessageRole.USER"
              [class.chat-message--assistant]="msg.role === ChatMessageRole.ASSISTANT"
            >
              @if (msg.role !== ChatMessageRole.USER) {
                <div class="chat-message__header opacity-60 mb-3">
                  AI • {{ msg.model | modelLabel }}
                </div>
              }

              @if (msg.role === ChatMessageRole.USER) {
                <div class="chat-message__content">{{ msg.content }}</div>
              } @else {
                <div class="chat-message__content" [innerHTML]="msg.content | markdown"></div>
              }

              @if (last && thinking()) {
                <div class="chat-thinking mt-5">
                  <div class="thinking-loader"></div>
                </div>
              }
            </div>
          }

          @if (chatService.activeChat()?.state === ChatState.ERROR) {
            <div class="chat-error flex flex-col items-start">
              <div class="mb-4">Произошла ошибка</div>
              <button
                size="s"
                tuiButton
                iconStart="@tui.rotate-ccw"
                type="button"
                (click)="retryLasRequest()"
              >
                Повторить запрос
              </button>
            </div>
          }
        </div>
      </div>
    </tui-scrollbar>
  </div>
  <div class="chat-input-wrapper">
    <div class="chat-input">
      <chat-input
        [thinking]="thinking()"
        (onSend)="sendRequest($event)"
        (onCancel)="cancelRequest()"
      ></chat-input>
    </div>
  </div>
}