<header class="header flex items-center justify-between gap-4 px-4">
  @if (appService.isMobile()) {
    <button
      class="burger-btn"
      aria-label="Меню"
      [class.open]="appService.sidebarOpen()"
      (click)="toggleMenu()"
    >
      <span></span>
    </button>
  }

  <div class="header__model flex flex-row items-center">
    @if (chatService.activeChatId()) {
      <tui-icon icon="@tui.message-circle-code" [style.font-size.rem]="1.125" />
    } @else {
      <tui-icon icon="@tui.brain" [style.font-size.rem]="1.125" />
    }

    <tui-icon icon="@tui.chevron-right" class="opacity-60" [style.font-size.rem]="1.125" />

    <button
      tuiChevron
      tuiDropdownAlign="right"
      tuiLink
      type="button"
      class="header__model-selection"
      [class.open]="modelSelectionOpen"
      [textContent]="selectedModel()"
      [tuiDropdown]="dropdown"
      [(tuiDropdownOpen)]="modelSelectionOpen"
    ></button>
  </div>

  @if (appService.isMobile()) {
    <button class="header__new-chat" (click)="newChat()">
      <tui-icon icon="@tui.message-circle-plus" [style.font-size.rem]="1.25" />
    </button>
  }
</header>

<ng-template #dropdown>
  <tui-data-list>
    @for (model of chatService.models; track model) {
      <button tuiOption type="button" class="item gap-2" (click)="onClick(model.id)">
        {{ model.label }}
        @if (itemIsActive(model.id)) {
          <tui-icon icon="@tui.check" [style.font-size.rem]="1" />
        }
      </button>
    }
  </tui-data-list>
</ng-template>
