:host {
  width: 100%;
}

.chat-list {
  height: calc(100% - var(--chat-input-wrapper-height));
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

.chat-messages {
  width: calc(100% - var(--chat-messages-side-padding) * 2);
  max-width: clamp(0px, calc(100vw - var(--chat-messages-side-padding) * 2), var(--chat-max-width));
  min-width: 0;
  gap: var(--chat-messages-gap);
  padding-top: var(--chat-messages-gap);
  padding-left: var(--chat-messages-side-padding);
  padding-right: var(--chat-messages-side-padding);
  padding-bottom: calc(var(--chat-messages-gap) * 2);
}

:host-context(.mobile) .chat-messages {
  padding-bottom: var(--chat-messages-gap);
}

.chat-message {
  min-width: 25%;
  max-width: 100%;
  overflow: auto;
  align-self: flex-start;

  &--user {
    white-space: pre-wrap;
    background: var(--color-bg-user-msg);
    align-self: flex-end;
    border-radius: var(--radius-xl) var(--radius-xl) 0 var(--radius-xl);
    padding: var(--chat-messages-inner-padding);
  }
}

.chat-thinking {
  position: relative;
}

.thinking-loader,
.thinking-loader:before,
.thinking-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.9s infinite ease-in-out;
}
.thinking-loader {
  position: absolute;
  top: -11px;
  left: 14px;
  transform: scale(0.6);
  color: #fff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  animation-delay: -0.16s;
}
.thinking-loader:before,
.thinking-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.thinking-loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.thinking-loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

// input
.chat-input-wrapper {
  height: var(--chat-input-wrapper-height);
  width: calc(100% - var(--chat-messages-side-padding) * 2);
  max-width: clamp(
    0px,
    calc(100vw - var(--chat-messages-side-padding) * 2),
    calc(var(--chat-max-width) + 2px)
  );
  min-width: 0;
  margin: auto;
  position: relative;
}

.chat-input {
  position: absolute;
  width: 100%;
  background: var(--color-bg);
  bottom: calc(var(--chat-input-wrapper-padding) * 2 + var(--standalone-bottom-safe-offset));
}
