<div class="chat-list">
  <tui-scrollbar>
    <div class="flex flex-col items-center">
      <div class="chat-messages flex flex-col flex-1 pt-6">
        @for (msg of messageStore.messages(); let last = $last; track msg.id) {
          <div
            class="chat-message max-w-full overflow-auto"
            [attr.data-id]="msg.id"
            [class.chat-message--user]="msg.role === ChatMessageRole.USER"
            [class.chat-message--assistant]="msg.role === ChatMessageRole.ASSISTANT"
          >
            @if (msg.role === ChatMessageRole.ASSISTANT) {
              <div class="chat-message__header opacity-60 mb-3">
                AI • {{ msg.model | modelLabel }}
              </div>
            }

            @if (msg.role === ChatMessageRole.USER) {
              <div class="chat-message__body flex flex-col gap-2">
                <div class="chat-message__bubble chat-message__bubble--user">{{ msg.content }}</div>

                <div
                  class="chat-message__actions chat-message__actions--user flex pointer-events-none transition-opacity"
                >
                  <app-copy-text-button
                    [text]="msg.content"
                    hint="Скопировать"
                    copiedHint="Скопировано"
                  ></app-copy-text-button>
                </div>
              </div>
            } @else if (msg.role === ChatMessageRole.ASSISTANT) {
              <div class="chat-message__body flex flex-col gap-2">
                <div
                  class="chat-message__bubble chat-message__bubble--assistant"
                  (click)="onCodeBlockCopyClick($event)"
                  (keydown)="onCodeBlockCopyKeydown($event)"
                  [innerHTML]="messageStore.get(msg.id) || msg.content | markdown"
                ></div>

                @if (msg.content.length) {
                  <div class="chat-message__actions chat-message__actions--assistant flex">
                    <app-copy-text-button
                      [text]="msg.content"
                      [richText]="true"
                      hint="Скопировать"
                      copiedHint="Скопировано"
                    ></app-copy-text-button>
                  </div>
                }
              </div>
            }

            @if (last && chatStore.activeChat()?.state === ChatState.THINKING) {
              <div class="chat-thinking mt-5 relative">
                <div class="thinking-loader"></div>
              </div>
            }
          </div>
        }

        @if (chatStore.activeChat()?.state === ChatState.ERROR) {
          <div class="chat-error flex flex-col items-start">
            <div class="mb-4">Произошла ошибка</div>
            <button
              size="s"
              tuiButton
              iconStart="@tui.rotate-ccw"
              type="button"
              (click)="retryLasRequest()"
            >
              Повторить запрос
            </button>
          </div>
        }
      </div>
    </div>
  </tui-scrollbar>
</div>
<div class="chat-input-wrapper relative">
  <div class="chat-input absolute w-full">
    <app-chat-input
      [thinking]="chatStore.activeChat()?.state === ChatState.THINKING"
      (sendMessage)="onSendMessage($event)"
      (cancelRequest)="onCancelRequest()"
    ></app-chat-input>
  </div>
</div>
