@import "../styles/utils.less";

.app-root {
  height: 100vh;
  height: 100dvh;
  background: var(--color-bg);
  color: #f5f5f5;
}

.sidebar {
  height: 100vh;
  height: 100dvh;
  width: var(--sidebar-desktop-max-width);
  border-right: 2px solid rgba(255, 255, 255, 0.06);
  background: var(--color-bg-darken);
  overflow: hidden;
}

.mobile .sidebar {
  border: none;
}

.mobile .sidebar {
  position: fixed;
  left: 0;
  top: calc(var(--header-height) - 1px);
  z-index: 2;
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  width: 100%;
  max-width: var(--sidebar-mobile-max-width);
}