<form (submit)="send()">
  <tui-textfield [tuiTextfieldCleaner]='false' size="l">
    <textarea
      tuiTextarea 
      placeholder="Спросите что-нибудь..."
      [ngModel]="input()"
      (ngModelChange)="input.set($event)"
      [ngModelOptions]="{ standalone: true }"
      [max]="20"
      [min]="1" 
      (keydown)="onKeyDown($event)"
    ></textarea> 
    
    @if (!thinking) {
      <button
        tuiButton
        iconStart="@tui.arrow-up"
        appearance="primary"
        size='s'
        type="submit"
        class="ml-3"
        [disabled]="!input().trim()"
        (click)="send()"
      ></button>
    } @else {
      <button
        tuiButton
        iconStart="@tui.x"
        appearance="primary"
        size='s'
        type="submit"
        class="ml-3"
        (click)="cancel()"
      ></button>
    }
  </tui-textfield>
</form>