:host {
  width: 100%;
}

.chat-new {
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
  width: calc(100% - var(--chat-messages-side-padding) * 2);
  max-width: calc(var(--chat-max-width) + var(--border-width-2));
}
