<form [formGroup]="form" (ngSubmit)="send()">
  <tui-textfield [tuiTextfieldCleaner]="false" size="l">
    <textarea
      tuiTextarea
      placeholder="Спросите что-нибудь..."
      formControlName="message"
      [max]="20"
      [min]="1"
      (keydown)="onKeyDown($event)"
    ></textarea>

    @if (!thinking()) {
      <button
        tuiButton
        iconStart="@tui.arrow-up"
        appearance="primary"
        size="s"
        type="submit"
        class="ml-3"
        [disabled]="!isSendAllowed"
      ></button>
    } @else {
      <button
        tuiButton
        iconStart="@tui.x"
        appearance="primary"
        size="s"
        type="button"
        class="ml-3"
        (click)="cancel()"
      ></button>
    }
  </tui-textfield>
</form>
